# Ignore model files
Skin-Cancer-ML/*.h5
Skin-Cancer-ML/*.pkl

# Ignore datasets
Skin-Cancer-ML/*.csv
Skin-Cancer-ML/*.xlsx

# Ignore Python cache
Skin-Cancer-ML/__pycache__/
*.py[cod]

# Ignore virtual environment
Skin-Cancer-ML/venv/
Skin-Cancer-ML/venv310/

# Ignore secrets
.env
